@import "tailwindcss";
@plugin "daisyui";
.material-icons {
  font-family: 'Material Icons';
  display: inline-block;
}

* {
  -webkit-user-drag: none;
  font-family: "inchun-reqular";
}

@font-face {
  font-family: "inchun-reqular";
  font-weight: normal;
  src: url("./assets/fonts/inchun.ttf") format("truetype");
}